body {    
  display: grid;    
  min-height: 100vh;    
  grid-template-columns: 1fr;    
  grid-template-rows: 1fr ;    
}

.root{
  background: url('https://a-static.besthdwallpaper.com/cs-go-papel-de-parede-1920x1080-21413_48.jpg') center fixed no-repeat;
  grid-column: 1;    
  grid-row: 1 ;   
}

.nav-link{
  color: black
}